# Database Creds (for Docker)
POSTGRES_DB=healthcare_db
POSTGRES_USER=healthcare_user
POSTGRES_PASSWORD=some-password # generate by running $openssl rand -base64 16

# Database
DATABASE_URL=some-postgresql-endpoint

# Google Storage Bucket
GCS_BUCKET=dev-bucket
GCS_EMULATOR_HOST=http://localhost:4443

# Server
PORT=5110
NODE_ENV=development

# Clerk Authentication
CLERK_SECRET_KEY=secret-key # ask on discord

# Client URL (for CORS) Expo Web's Default Port
CLIENT_URL=http://localhost:19006
